@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
    font-family: 'Product Sans',Arial,sans-serif;
    color:#828286;
  }

header {
  height:66px;
}

  main {
    flex: 1 0 auto;
    background-image: image-url(background);
    background-size: cover;
  }

  blockquote {
  	border-left: 5px solid #ffeb3b;
  }

.card-question {
	font-family: "Product Sans",Arial,sans-serif;
    font-weight: 800;
}

.card {
	margin:10px;
}

.avatar {
  width: 44px;
  border-radius: 50%;
  margin-top:9px;
  margin-right:9px;
}

.logo {
  width: 47px;
  margin-top:9px;
  margin-left:9px;
}

.main-container {
display: flex;
  justify-content: center;
  padding-top:75px;

  a {
    color:red;
  }

}

.secondary-container {
display: flex;
  justify-content: center;
  align-items: center;
  padding-top:20px;

}
